/* General */
body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  /*display: flex;
    align-items: center;
    justify-content: center;*/
  height: 100vh;
  background-image: url(img1/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

strong {
  color: #a0c646;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin: 0px;
  margin-bottom: 20px;
}

p {
  margin-right: 30px;
  margin-left: 30px;
}

li {
  list-style: none;
  display: inline;
  padding: 0px;
  margin: 0px;
}

ul {
  display: inline-flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

button {
  background: transparent;
  border: transparent;
}

/* FIN General */

/*----Header----*/

.header-container {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  z-index: 999;
}

header.scrolled .header-container {
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
}

.header-container.scrolled {
  background-color: white;
}

.navbar-fixed-top {
  background-color: transparent;
  transition: background-color 200ms linear;
}

.navbar-fixed-top:hover {
  background-color: white !important;
  transition: background-color 200ms linear;
}

.header-elements {
  padding: 0;
  padding-left: 10%;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-menu-button {
  transition: all 0.3s ease-in-out;
}

.header-elements.scrolled img,
.header-elements.scrolled .header-menu-button {
  width: 150px;
}

.logo-ian {
  max-width: 12em;
  max-height: 12em;
}

.dropdown {
  position: relative;
  display: inline-block;

  z-index: 999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 15px;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-top: 100px;
  margin-left: 10px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-button-1 {
  padding: 1em 1em 0.5em 1em;
}

.dropdown-button-2 {
  padding: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown-margin {
  margin-left: 0.5em;
}

.header-menu-button {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content-container {
  padding-top: 102px;
}

#dropdown-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 50px;
  width: 6.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.31rem;
  height: 2.6rem;
  font-size: 26px;
}

.button .icons i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.button .icons .icon-default {
  transition: opacity 0.3s, transform 0.3s;
}

.button .icons .icon-hover {
  transition: opacity 0.3s, transform 0.3s;
  transform: rotate(-180deg) scale(0.5);
  opacity: 0;
}

.button:hover .icons .icon-hover {
  transform: rotate(0) scale(1);
  opacity: 1;
}

.button:hover .icons .icon-default {
  transform: rotate(180deg) scale(0.5);
  opacity: 0;
}


/*----Fin Header----*/

/*----Main----*/

.main-container {
  padding-top: 100px;
}

.map-container {
  text-align: center;
}

.imgCentral {
  width: 240px;
}

/*
.imgCentral:hover {
  animation: pop 0.3s linear 1;
}*/

.espacio {
  width: 436px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.cards-container-padding {
  padding-top: 100px;
}

.card {
  padding: 0 20px;
  /* Alineación del texto */
  font-size: 12px;
}

.card-color {
  background-color: white;
  border: solid 0.5px black;
}

.card-position {
  display: inline-flex;
  align-items: center;
}

.margin-card-sides {
  margin-left: 100px;
  margin-right: 100px;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  /* margin: 0 15px 30px; */
  /* overflow: hidden; */
  /* border-radius: 28px;*/
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}


/*----------------------*/

.flip-card {
  background-color: transparent;
  width: 355px;
  height: 200px;
  perspective: 1000px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card1 {
  background-color: transparent;
  width: 450px;
  height: 200px;
  perspective: 1000px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.central-card {
  background-color: transparent;
  width: 434px;
  height: 200px;
  border: 1px solid #f1f1f1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: linear-gradient(45deg, #E1306C, #F56040, #FFDC80, #5C80BC);
}

.flip-card-front {
  background: linear-gradient(45deg, #E1306C, #FD1D1D, #F56040, #FCAF45);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.central-card-front {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 80%;  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*----------------------*/

.arrow1-container {
  position: absolute;
  top: 49%;
  left: 60.5%;
  transform: translate(-50%, -50%);
}

.arrow2-container {
  position: absolute;
  top: 49%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.arrow3-container {
  position: absolute;
  top: 70%;
  left: 60.5%;
  transform: translate(-50%, -50%);
}

.arrow4-container {
  position: absolute;
  top: 70%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.arrow-container-size {
  padding: 1rem;
  margin-top: 1rem;
}

.phone:hover {
  transition: transform 0.3s ease;
  animation: pop 0.4s linear 1;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.draggable {
  padding: 1rem;
}

.draggable.dragging {
  opacity: .5;
}

.flip-card-back {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  transform: rotateY(180deg);
}

/*----------------------*/

/*----Fin Main----*/

.box {
  position: relative;
  width: 190px;
  z-index: 999;
  background-color: transparent;
}

.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(img1/iv1.png) 50% 50% / cover no-repeat;
  transition: .5s ease;
  -webkit-filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.3));
}

.hover-point {
  position: absolute;
  z-index: 999;
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}

.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}

.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}

.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}

.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}

.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}

.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}

.hover-point:nth-child(1):hover~.box-contents {
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover-point:nth-child(2):hover~.box-contents {
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}

.hover-point:nth-child(3):hover~.box-contents {
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover-point:nth-child(4):hover~.box-contents {
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}

.hover-point:nth-child(5):hover~.box-contents {
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}

.hover-point:nth-child(6):hover~.box-contents {
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover-point:nth-child(7):hover~.box-contents {
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}

.hover-point:nth-child(8):hover~.box-contents {
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  height: 210px;
  width: 400px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  /*background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%);
  */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15), 0 16px 16px rgba(0, 0, 0, 0.15);

}

.card-position {
  padding-top: 120px;
}

@media (min-width: 600px) {
  .card {
    height: 208px;
  }
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: contain;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card:hover:after {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%);
}

.phone .card:hover:after {
  background-image: none;
}

.cards-container-height {
  height: 460px;
}

.cards-padding-top {
  padding-top: 50px;
}

.card1 {
  background-image: url(img1/phone1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.card2 {
  background-image: url(img1/video1.mp4);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  height: 200px;
  width: 400px;
}

.card2 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card3 {
  background-image: url(img1/iv.png);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

.card4 {
  background-image: url(img1/img2.jpg);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

.card5 {
  background-image: url(img1/img3.jpg);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

.card6 {
  background-image: url(img1/img4.jpg);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

.card7 {
  background-image: url(img1/img5.jpg);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

.card8 {
  background-image: url(img1/perfil1.jpeg);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
  height: 300px;
}

.card-size {
  width: 450px;
}

.cards-container-width {
  height: 400px;
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 538px;
  height: 136px;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.heartbeat {
  width: 40px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 33px;
  margin-bottom: 0px;
  color: white;
}

.copy {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.35;
  margin-top: 8px;
  margin-bottom: 7px;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  margin: 0px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*Footer*/

.footer-container {
  padding-top: 100px;
}

/*FIN Footer*/