/*----Estilos generales----*/

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.body-container {
  height: 100vh;
  background: url(img1/fondo1.1.3.jpg) no-repeat center / cover;
}

a {
  color: black;
  text-decoration: none;
}



p {
  margin-right: 30px;
  margin-left: 30px;
}

li {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

ul {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*----Fin Estilos generales----*/

/*----Header----*/

.header-container {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  z-index: 999;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-fixed-top {
  background-color: transparent;
  transition: background-color 200ms linear;
}

.navbar-fixed-top:hover {
  background-color: white !important;
}

.header-elements {
  padding-left: 10%;
  display: flex;
  align-items: center;
}

.logo-ian {
  max-width: 12em;
  max-height: 12em;
}

.dropdown-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-margin {
  margin-left: 0.5em;
}

.button {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 50px;
  width: 6.25rem;
  font-size: 1.75rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.31rem;
  height: 2.6rem;
  font-size: 26px;
}

.button .icons i {
  position: absolute;
  top: 0;
  left: 0;
}

.button .icons .icon-default {
  transition: opacity 0.3s, transform 0.3s;
}

.button .icons .icon-hover {
  transition: opacity 0.3s, transform 0.3s;
  transform: rotate(-180deg) scale(0.5);
  opacity: 0;
}

.button:hover .icons .icon-hover {
  transform: rotate(0) scale(1);
  opacity: 1;
}

.button:hover .icons .icon-default {
  transform: rotate(180deg) scale(0.5);
  opacity: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 15px;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-top: 180px;
  margin-left: 50px;
  padding-bottom: 15px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown-button {
  padding: 1em 2em 0.5em 1.5em;
}

/*----Fin Header----*/

/*----Main----*/

.main-container {
  padding-top: 100px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 1000px;
  align-content: center;
  flex-wrap: wrap;
}

.cards-container-height {
  height: 400px;
}

.card {
  padding: 0 20px;
  /* Alineación del texto */
  font-size: 12px;
}

.card-position {
  display: inline-flex;
  align-items: center;
}

.margin-card-sides {
  margin-left: 100px;
  margin-right: 100px;
}

/*----------------------*/

.flip-card {
  background-color: transparent;
  width: 355px;
  height: 200px;
  perspective: 1000px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card1 {
  background-color: transparent;
  width: 450px;
  height: 200px;
  perspective: 1000px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/*----------------------*/

/*----Fin Main----*/

.hover-point:nth-child(1):hover~.box-contents {
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover-point:nth-child(2):hover~.box-contents {
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}

.hover-point:nth-child(3):hover~.box-contents {
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover-point:nth-child(4):hover~.box-contents {
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}

.hover-point:nth-child(5):hover~.box-contents {
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}

.hover-point:nth-child(6):hover~.box-contents {
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover-point:nth-child(7):hover~.box-contents {
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}

.hover-point:nth-child(8):hover~.box-contents {
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  height: 210px;
  width: 400px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  /*background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%);
  */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15), 0 16px 16px rgba(0, 0, 0, 0.15);

}

.card-position {
  padding-top: 120px;
}

@media (min-width: 600px) {
  .card {
    height: 208px;
  }
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: contain;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card:hover:after {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%);
}

.phone .card:hover:after {
  background-image: none;
}

.card1 {
  background-image: url(img1/phone1.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 466px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: transform 0.5s ease;
}

.card4 {
  background-image: url(img1/web.webp);
  background-repeat: no-repeat;
  background-size: 456px;
  background-position: bottom;
}

.card5 {
  background-image: url(img1/apps.webp);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

.card8 {
  background-image: url(img1/perfil1.jpeg);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
  height: 300px;
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 538px;
  height: 136px;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.heartbeat {
  width: 40px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 33px;
  margin-bottom: 0px;
  color: white;
}

.main-card-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 27px;
  text-shadow: 0 0 8px #00000080;
}

.copy {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.35;
  margin-top: 8px;
  margin-bottom: 7px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

/*Footer*/

.footer {
  background: url(img1/fondo2.1.jpg) no-repeat center / cover;
  color: white;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-item {
  text-align: right;
  padding-right: 20px;
}

.footer-item a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  display: block;
}

.footer-item a:hover {
  color: #02998D;
}

/* Estilos para los enlaces */
.footer-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item p {
  margin: 0;
  font-size: 14px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }

  .footer-item {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }
}

/*FIN Footer*/